/* Custom WebCanada prototype framework styles
	by George Merlocco (george@merloc.co) // https://github.com/scar45/

    TODO:
      - Decrease font-size within .panel
      - Remove gradient from non-rig panels and color code wallets (green), pools (blue) as solid
      - Show "Active Panels"

*/

* {
  box-sizing: border-spacing;
}

html {
  background: url(../images/dark_mosaic.png) repeat #272B30;
  height: 236px;
  width: 316px;
  overflow: hidden;
}

body {
  height: 236px;
  width: 316px;
  overflow: hidden;
  position: relative;
  margin: 0;
  background: url(../images/cryptoglance-watermark.png) no-repeat center fixed transparent;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #33b5e5;
  border-right: 1px solid #FBEE03;
  border-bottom: 1px solid #FBEE03;
/*  box-shadow: inset 0 0 25px #33b5e5; */
}


b, strong {
  font-family: roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: bebas, robotocondensed, sans-serif;
  font-weight: normal;
  text-align: center;
  color: #33b5e5;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: -1px 2px 0px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 36px;
  text-align: right;
  padding: 0 10px;
  margin-top: 4px;
}

h1.bitcoin, h1.balance {
  background: url(../images/coin-bitcoin.png) no-repeat center left;
}

h1.reddcoin {
  background: url(../images/coin-reddcoin.png) no-repeat center left;
}

h1 span {
  font-size: 64px;
}

h1.reddcoin span {
  max-width: 103px;
  overflow: hidden;
}

h1.balance {
  margin-bottom: 10px;
}

h1.balance span {
  font-size: 42px;
  padding: 5px 0;
  display: inline-block;
}

.balances h2 {
  margin: 3px 0;
  font-size: 28px;
}

hr {
  border-width: 1px 0px 1px;
  border-style: solid none solid;
}

pre {
  display: block;
  background: #030;
  color: #090;
  text-shadow: 0px 0px 1px rgba(0, 255, 0, 0.3);
  text-align: left;
  padding: 10px;
  font-size: 15px;
  line-height: 26px;
  border-color: #080;
  margin: 10px 0;
  text-transform: none;
}

a, a:visited, a:hover, a i, a:hover i {
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

a, a:visited {
  color: #FBEE03;
  text-decoration: none;
}

a:hover {
  color: #33b5e5;
}

a:active {
  color: #0d0;
}

table a:hover {
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}

table.table-wallet a, table.table-wallet a:visited, table.table-wallet a:hover {
  border-bottom: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.grey {
  color: #9c9c9c;
}

.blue {
  color: #33b5e5;
}

.green {
  color: #0b0;
}

i.green {
  text-shadow: 0 0 10px #0b0;
}

.yellow {
  color: #FBEE03;
}

i.yellow {
  text-shadow: 0 0 10px #FBEE03;
}

.orange {
  color: #F87706;
}

i.orange {
  text-shadow: 0 0 10px #F87706;
}

.red {
  color: #b22;
}

i.red {
  text-shadow: 0 0 12px #f00;
}

[class^="icon-"], [class*=" icon-"] {
  font-weight: normal;
}

header {
  background: url(../images/cryptoglance-logo-landscape.png) no-repeat center;
  height: 36px;
  text-indent: -10000px;
}

.details, .balances, .charts {
  display: none;
  text-align: center;
}

.charts img {
  transform: scale(1.23);
  position: relative;
  top: 19px;
}

#bitcoin-bg {
  position: absolute;
  z-index: -1px;
  height: 188px;
  width: 318px;
  opacity: 0.25;
  background: url(../images/coin-bitcoin-large.png) no-repeat center;
  background-size: contain;
}

.stat-pair {
  background: rgba(255,255,255,0.1);
  width: 48%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 8px 0 2px;
  margin: 3px 0;
}

.stat-pair p {
  font-size: 26px;
  margin: 0;
  padding: 0 25px;
  line-height: 25px;
  text-shadow: 1px 2px 3px #000;
}

.stat-pair h4 {
  font-size: 20px;
  font-family: robotoblack, sans-serif;
  font-style: normal;
  text-shadow: 1px 2px 3px #000;
}

footer, .balances p {
  background: rgba(255,255,255,0.1);
}

footer p, .balances p {
  text-align: center;
  padding: 2px 0;
  margin: 0;
  font-family: robotolight, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.balances p {
  font-family: robotoblack, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 3px 0;
  color: #999;
  text-shadow: 1px 2px 3px #000;
}

footer p span, .balances p span {
  font-family: robotoblack, sans-serif;
  font-style: normal;
}



/* Font Support

Capture It:
- normal
- bold

Bebas:
- normal

Roboto:
- roboto
- robotocondensed
- robotoblack
- robotothin
- robotolight
- robotocondensedlight
- robotomedium

*/

@font-face {
  font-family: 'captureit';
  src: url('../fonts/Capture_it-webfont.eot');
  src: url('../fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Capture_it-webfont.woff') format('woff'),
    url('../fonts/Capture_it-webfont.ttf') format('truetype'),
    url('../fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'captureit';
  src: url('../fonts/Capture_it_2-webfont.eot');
  src: url('../fonts/Capture_it_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Capture_it_2-webfont.woff') format('woff'),
    url('../fonts/Capture_it_2-webfont.ttf') format('truetype'),
    url('../fonts/Capture_it_2-webfont.svg#capture_itregular') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
    url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
  src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Italic-webfont.eot');
  src: url('../fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot');
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black-webfont.woff') format('woff'),
    url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-BlackItalic-webfont.eot');
  src: url('../fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/Roboto-ThinItalic-webfont.eot');
  src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-LightItalic-webfont.eot');
  src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensedlight';
  src: url('../fonts/RobotoCondensed-Light-webfont.eot');
  src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensedlight';
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot');
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
    url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-MediumItalic-webfont.eot');
  src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}
